name: Build NST-Ghost (MSVC)

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-windows-msvc:
    runs-on: windows-latest

    env:
      QT_VERSION: 6.9.2
      QT_ARCH: win64_msvc
      BUILD_TYPE: Release

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install aqtinstall
      run: python -m pip install --upgrade pip
    - run: python -m pip install aqtinstall==3.3.*

    - name: List available Qt versions
      run: python -m aqt list-qt windows desktop --version 6.9.2
        
    - name: Install Qt
      run: |
       python -m aqt install-qt windows desktop 6.9.2 win64_msvc --outputdir Qt --autodesktop

    - name: Configure CMake (MSVC)
      run: |
        cmake -S . -B build -G "Visual Studio 17 2022" `
          -A x64 `
          -DCMAKE_BUILD_TYPE=$Env:BUILD_TYPE `
          -DCMAKE_PREFIX_PATH="$PWD\Qt\$Env:QT_VERSION\$Env:QT_ARCH"

    - name: Build
      run: cmake --build build --config $Env:BUILD_TYPE
