name: Build NST Windows (MXE)
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential make autoconf automake bash bison bzip2 flex g++ g++-multilib gettext git gperf intltool libffi-dev libgmp-dev libltdl-dev libmpc-dev libmpfr-dev libtool libtool-bin libssl-dev patch perl pkg-config python3 python3-pip ruby sed unzip wget xz-utils
    - name: Clone MXE
      run: |
        git clone https://github.com/mxe/mxe.git ~/mxe
    - name: Build MXE toolchain and Qt6
      run: |
        cd ~/mxe
        make MXE_TARGETS='x86_64-w64-mingw32.static' qt6
      env:
        PATH: "${HOME}/mxe/usr/bin:${PATH}"
    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_TOOLCHAIN_FILE=$HOME/mxe/usr/x86_64-w64-mingw32.static/share/cmake/mxe-conf.cmake -DCMAKE_BUILD_TYPE=Release
      env:
        PATH: "${HOME}/mxe/usr/bin:${PATH}"
    - name: Build
      run: |
        cd build
        cmake --build . --config Release
      env:
        PATH: "${HOME}/mxe/usr/bin:${PATH}"
    - name: Package
      uses: actions/upload-artifact@v4
      with:
        name: NST-Windows-Release
        path: build/NST.exe
