name: Build NST Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    strategy:
      matrix:
        qt-version: [6.8.3]
        build_type: [Release]
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: ${{ matrix.qt-version }}
        host: windows
        target: desktop
        arch: win64_msvc2022_64
        cache: 'true'
        
    - name: Configure CMake
      run: cmake -B build -S . -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
      
    - name: Build
      run: cmake --build build --config ${{ matrix.build_type }}
      
    - name: Deploy
      run: |
        # เปลี่ยนจาก NST-Ghost.exe เป็น NST.exe
        windeployqt --release --no-translations build/${{ matrix.build_type }}/NST.exe
        
    - name: Package
      uses: actions/upload-artifact@v4
      with:
        # เปลี่ยนชื่อ Artifact ให้ตรงกับชื่อตัวจริงเพื่อความเป็นระเบียบ
        name: NST-Windows-${{ matrix.build_type }}
        path: build/${{ matrix.build_type }}/
