name: Build NST

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest  # หรือ ubuntu-latest/macOS-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.3'
        host: 'windows'  # 'linux' หรือ 'mac'
        target: 'desktop'  # สำหรับ Windows/Linux/macOS
        arch: 'win64_msvc' # หรือ 'win64_mingw', 'linux64', 'mac'
    
    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Run CPack
      run: cmake --install build --prefix dist && cpack -G ZIP --config build/CPackConfig.cmake
